KERNEL=="sd[a-z][0-9]", SUBSYSTEMS=="usb", ACTION=="add", ENV{DEVTYPE}=="partition", ENV{ID_SERIAL}="?*", RUN+="/etc/udev/scripts/mount.sh $env{ID_SERIAL}"
KERNEL=="sd[a-z][0-9]", SUBSYSTEMS=="usb", ACTION=="remove", ENV{DEVTYPE}=="partition", RUN+="/etc/udev/scripts/umount.sh"

