KERNEL=="sd[a-z]", SUBSYSTEMS=="usb", ACTION=="add", ENV{ID_FS_LABEL_ENC}="?*", RUN+="/etc/udev/scripts/mount.sh $env{ID_FS_LABEL_ENC}"
KERNEL=="sd[a-z]", SUBSYSTEMS=="usb", ACTION=="remove", RUN+="/etc/udev/scripts/umount.sh"
KERNEL=="sd[a-z][0-9]", SUBSYSTEMS=="usb", ACTION=="add", ENV{DEVTYPE}=="partition", ENV{ID_FS_LABEL_ENC}="?*", RUN+="/etc/udev/scripts/mount.sh $env{ID_FS_LABEL_ENC}"
KERNEL=="sd[a-z][0-9]", SUBSYSTEMS=="usb", ACTION=="remove", ENV{DEVTYPE}=="partition", RUN+="/etc/udev/scripts/umount.sh"

